/* Module TasksTable CSS */

.tasks-table-container {
  width: 84%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #fbfbff;
  border-radius: 5px;
  color: #333333;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.tasks-table {
  border-collapse: collapse;
  width: 100%;
}

.tasks-table th {
  text-align: left;
  padding: 0.8rem 0.5rem;
  margin-bottom: 5px solid #1f41c9;
}

.tasks-table td {
  padding: 0.8rem 0.5rem;
}

.tasks-table th:last-child,
.tasks-table td:last-child {
  text-align: right;
}
